   body{
      font-family: 'instrument sans';
      overflow-x: hidden;
      box-sizing: border-box;
      text-decoration: none !important;
      font-size: 30px;
      line-height: 2;
      margin: 0;
      padding: 0;
      background-color: rgb(10, 51, 53);
   }

   

   #navbar{
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color:cornflowerblue;
    z-index:10;
    font-weight: bold;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    line-height: 1;
   }

   #navbar a:hover {
      background-color: rgb(10, 51, 53);
      border-radius: 0 0 25px 25px;
      padding-bottom: 0.5%;
      padding-top: 1%;
      background-size: cover;
   }


   a:hover{
      color:antiquewhite;
   }

   #navbar a{
      
      padding: 5vw;
      font-size: 2vw;
      z-index: 10;
      text-decoration:none;
      position: relative;
   }

   #type-navbar a {
      font-size: 1.5vw;
      padding: 2vw;
      font-weight: bold;
      text-decoration:none;
      z-index: 9;
      position: relative;
      line-height: 1;
   }

   #type-navbar a:hover {
      background-color: rgba(10, 51, 53, 0.598);
      border-radius: 0 0 25px 25px;
      padding-bottom: 0.5%;
      padding-top: 1%;
      background-size: cover;
   }

   #type-navbar {
      background-color:rgb(131, 205, 205);
      border-bottom-right-radius: 30px;
      z-index: 9;
      position: relative;
      padding-top: 0.2%;
      padding-bottom: 0.2%;
      max-width: 80vw;
      line-height: 1;
   }

   #pickups-navbar a {
      font-size: 1.5vw;
      padding: 2vw;
      font-weight: bold;
      z-index: 9;
      text-decoration:none;
      line-height: 1;
   }

   #pickups-navbar{
      background-color:rgb(131, 205, 205);
      border-bottom-right-radius: 30px;
      z-index: 9;
      position: relative; 
      padding-top: 0.2%;
      padding-bottom: 0.2%;
      max-width: 80vw;
      line-height: 1;
   }

   #pickups-navbar a:hover {
      background-color: rgba(10, 51, 53, 0.598);
      border-radius: 0 0 25px 25px;
      padding-bottom: 0.5%;
      padding-top: 1%;
      background-size: cover;
      line-height: 1;
   }


   .hero-text{
      text-align: center;
      font-size: 7vh;
      color:antiquewhite;
      font-weight: bold;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      
      
   }

   .hero-image{
      overflow: hidden;
      z-index: 1;
      min-width: 100vw;
      object-fit: cover;
      background: url("electricGuitar_hero-image.jpg");
      min-height: 100vh;
      object-fit: cover;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
   }

   .bubble{
      z-index: 1;
      border-radius: 50%;
      background-color:antiquewhite;
      fill:antiquewhite;
      text-decoration: none;
      position: absolute;
      text-align: center;
      overflow-y: hidden;
      line-height: 3vh;
      justify-content: center;
      align-items: center;
      display: flex;
   }

   .bubble a:hover{
      color:rgb(9, 67, 125) !important;
   }

   #b_1{
      top: 70%;
      left: 15%;
      width: 25vw;
      height: 25vw;
      max-width: 300px;
      max-height: 300px;
      min-width: 200px;
      min-height: 200px;
      
   }

   #b_1 a{
      color:rgb(241, 134, 10);
      font-weight: bold;
      margin: 20px;
      font-size: 2vh;
      text-decoration:none;
   }

   #b_2{
      top: 65%;
      left: 60%;
      width: 30vw;
      height: 30vw;
      max-width: 400px;
      max-height: 400px;
      min-width: 250px;
      min-height: 250px;
      
   }

   #b_2 a{
      color:rgb(57, 175, 239);
      font-weight: bold;
      font-size: 2vh;
      margin: 30px;
      text-decoration:none;
   }

    #b_3{
      top: 50%;
      left: 75%;
      width: 20vw;
      height: 20vw;
      max-width: 250px;
      max-height: 250px;
      min-width: 150px;
      min-height: 150px;
   }

   #b_3 a{
      color:rgb(126, 14, 132);
      font-weight: bold;
      font-size: 2vh;
      text-decoration:none;
   }

   .content {
      max-width: 90vw;
      background-color:rgb(69, 72, 97);
      padding: 50px;
      margin: 20px;
      text-align: left;
      overflow: hidden;
      color:antiquewhite;
   }

   .content a{
      text-decoration: none;
      color:#333344;
   }

   .content a:hover{
      color:antiquewhite;
   }


   .content img {
      width: 22%;
      max-height: 25vh;
      object-fit: cover;
      position: relative;
      float: right;
      border-radius: 15px;
      margin: 2%;
   }



   .content table {
      background-color:rgb(98, 98, 139);
      padding: 2%;
      border-radius:15px;
      max-width: 60vw;
      table-layout: fixed;
      display: table-cell;
      width: 30%;
      
   }

   .content th, td {
      background-color:#333344;
      border-radius: 5px;
      padding: 10px;
      display: table-cell;
      width: 30%;
   }

   .img_wrap {
      position: relative;
   }

   .hover_desc {
   position: absolute;
   left: 50vw;
   background: rgba(29, 106, 154);
   padding: 1%;
   border-radius: 5px;
   color: #fff;
   visibility: hidden;
   opacity: 0;
   max-width: 25%;
   z-index: 8;
   transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .hover_desc {
  visibility: visible;
  opacity: 100;
}

.guitar-parts-content img{
   zoom: 0.7;
   position: relative;
   
}

.box_desc {
   position: absolute;
   background: rgba(29, 106, 154);
   padding: 1%;
   border-radius: 5px;
   color: #fff;
   visibility: hidden;
   opacity: 0;
   max-width: 25%;
   z-index: 8;
   transition: opacity .2s, visibility .2s;
}

.guitar-parts-content {
   position: relative;
}

.boxes:hover .box_desc {
  visibility: visible;
  opacity: 100;
}

#headstock img {
   top: 200px;
   left:1300px;
   position: absolute;
   max-width: 500px;
   opacity: 0;
}

#box_1{
   position: absolute;
   top: 200px;
   left: 1000px;
}

#humbucker img {
   bottom: 2600px;
   left:1600px;
   position: absolute;
   max-width: 300px;
   opacity: 0;
}

#box_2{
   position: absolute;
   bottom: 1800px;
   left: 1200px;
}
  
#p90 img {
   bottom: 2200px;
   left:1700px;
   position: absolute;
   max-width: 300px;
   opacity: 0;
}

#box_3{
   position: absolute;
   bottom: 1600px;
   left: 1300px;
}

#bridge img {
   bottom: 2000px;
   left:1700px;
   position: absolute;
   max-width: 300px;
   opacity: 0;
}

#box_4{
   position: absolute;
   bottom: 1300px;
   left: 1300px;
}

#tone-volume img {
   bottom: 2000px;
   left:2200px;
   position: absolute;
   max-width: 300px;
   opacity: 0;
}

#box_5{
   position: absolute;
   bottom: 1600px;
   left: 1500px;
}

#neck img {
   top: 800px;
   left:1500px;
   position: absolute;
   height: 1800px;
   max-width: 300px;
   opacity: 0;
}

#box_6{
   position: absolute;
   top: 1000px;
   left: 800px;
}



#guitar-parts {
   position: absolute;
   font-size: 25px;
   background-color: rgba(10, 51, 53, 0.724);
   border-radius: 15px;
   max-width: 30vw;
   padding: 2vw;
   top: 0;
   right: 0;
   margin: 2vw;

}
   
#arlo {
   background-color:#fff;
   margin: 2%;
}
   

#welcome {
   margin: 2vw;
   box-shadow: 0 0 100px 250px rgb(10, 51, 53);
}

#welcome header {
   font-size: 200px;
   font-weight: bold;
   background: url("welcome-text-background-2.jpg");
   background-size: 80%;
   background-clip: text;
   color: transparent;
}

.type_h {
   font-size: 40px;
   font-weight: bold;
   background-color:antiquewhite;
   padding: 20px;
   margin-top: 5vh;
}


.content p, table {
   max-width: 60vw;
}

#videos {
   position: relative;
   display:flex;
   background-color: antiquewhite;
   overflow-x: auto;
}

#videos iframe{
   padding:30px;
}

#videos iframe {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#videos iframe:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}



